body {
    font-family: 'Roboto Mono', monospace;
    background-color: #F6F6F3;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}